/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full-screen container */
body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #003f5c, #665191, #f6b93b);
}
header h1 {
    margin: 2px;
    padding: 0%;
    text-align: center;

    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

.container {
    height: 100%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

       

.content h2 {
    margin-top: 20px;
    font-size: 2rem;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    text-decoration: none;
    padding: 20px 40px;
    background-color: #f6b93b;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn .icon {
    font-size: 50px; /* Adjust icon size */
    color: white;
}

.btn span {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
}

.btn:hover {
    background-color: #fa983a;
}

.btn:active {
    transform: scale(0.95);
}
